proxmox_endpoint   = "https://10.0.3.196:8006"
proxmox_username   = "root@pam"
proxmox_password   = "changeme"
vm_default_storage = "ceph-nvme"
kubernetes_vlan_tag = 10
talos_version      = "v1.12.6"
talos_iso_url      = "https://github.com/siderolabs/talos/releases/download/v1.12.6/metal-amd64.iso"
talos_iso_datastore   = "nfs-isos"
talos_iso_file_id     = "nfs-isos:iso/talos-1.12.6-metal-amd64.iso"
lxc_template_file_id  = "local:vztmpl/debian-13-standard_13.1-2_amd64.tar.zst"
lxc_default_gateway   = "10.0.10.1"
lxc_dns_servers       = ["10.0.10.201"]
lxc_ssh_public_key_path = "~/.ssh/id_ed25519.pub"
