SIGNAGE_URL={{ signage_url | quote }}
SIGNAGE_BROWSER={{ signage_browser_command | quote }}
SIGNAGE_CHROMIUM_FLAGS={{ (signage_chromium_flags + signage_extra_chromium_flags) | join(' ') | quote }}
SIGNAGE_WAIT_FOR_URL={{ (signage_wait_for_url | bool) | ternary('true', 'false') | quote }}
SIGNAGE_URL_CHECK_INTERVAL={{ signage_url_check_interval_sec | quote }}
SIGNAGE_URL_CHECK_TIMEOUT={{ signage_url_check_timeout_sec | quote }}
